/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #50563f;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  justify-content: flex-start;
  padding: 20px;
}

.container {
  background-color: rgb(197, 244, 186);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(204, 234, 147, 0.811);
  width: 100%;
  max-width: 600px; /* Optional: Control the max width of the form */
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.balance {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: space-between; /* Space out the items evenly */
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.balance h3 {
  margin: 0; /* Remove any default margin */
  color: #333;
  font-size: 1.2rem;
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input,
.form select,
.form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.total{
  color: #007bff;
}
.ex

.form input, 
.form select {
  width: 100%;
}

.form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #0056b3;
}

.transactions {
  width: 100%;
  max-width: 600px; 
  padding: 10px;
  background-color: rgb(181, 192, 201);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  height: calc(100vh - 300px); 
}

.transactions  {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 5px;
  word-wrap: break-word;
}

.transactions li.income {
  background-color: #e4f9e4;
  color: green;
}

.transactions li.expense {
  background-color: #f8d7da;
  color: red;
}

.transactions button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transactions button:hover {
  background-color: darkred;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .form input, .form select, .form button {
    width: 100%;
  }

  .balance, .transactions {
    width: 100%;
    padding: 15px;
  }
}
